<launch>

  <include file="$(find iri_dynamic_transform_publisher)/launch/node.launch">
    <arg name="node_name"       value="tf_wrist_camera_publisher"/>
    <arg name="params_path"   value="$(find iri_two_cameras)/config/tf_wrist_camera.yaml"/>
  </include>

  <include file="$(find iri_dynamic_transform_publisher)/launch/node.launch">
    <arg name="node_name"       value="tf_canopies_head_publisher"/>
    <arg name="params_path"   value="$(find iri_two_cameras)/config/tf_canopies_head.yaml"/>
  </include>
</launch>
